<webchat-message>
    <p class="text-black leading-normal">
        <raw style="word-break: break-all;" htmlWithLinks={ props.item.data.editedText ?? props.item.data.text ?? "" }/>
        <span if={props.item.data.editedText}>&nbsp<i style="font-size: 0.8em;">(edited)</i></span>
    </p>
</webchat-message>
